{% extends "base.twig" %}
{% block title %}
    {{ title }}
{% endblock %}
{% block menu %}
    {% include "usermenu.twig" %}
{% endblock %}
{% block content %}
    <h1>Все пользователи</h1>
    <table class="table table-striped">
        <tr><th>ID</th><th>Имя</th><th>Возраст</th><th>Совершеннолетие</th><th>Инфо</th><th>Аватар</th></tr>
        {% for user in users %}
            <tr><td>{{ user.id }}</td><td>{{ user.name }}</td><td>{{ user.age }}</td><td>{{ user.adult }}</td><td>{{ user.about }}</td><td><img class="image-small" src="{{ user.avatar }}"></td></tr>
        {% endfor %}
    </table>
{% endblock %}
